<h1>Chat</h1>

<div class="grid-container">
    <div *ngIf="!isGroup" class="nameConv">
        <span>{{chatUser?.userName ?? 'Messages'}}</span>
        <span></span>
    </div>

    <div *ngIf="isGroup" class="nameConv">
        <span (click)="openGroupDetails()">{{chatGroup?.name ?? 'Messages'}}</span>
    </div>

    <div *ngIf="isOpenGroupDetails">
        <div><b>Description: </b>
            <span>{{chatGroup?.description}}</span>
        </div>

        <div>
            <b>Members: </b>
            <span *ngFor="let member of groupMembers">{{member.userName}}, </span>
        </div>

        <div (click)="openAddGroupMember()"><b>Add a new member</b></div>

        <div *ngIf="addMember">
            <form [formGroup]="addGroupMemberForm">
                <mat-autocomplete #autoFriends="matAutocomplete" [displayWith]="friendDisplayFunction">
                    <mat-option *ngFor="let friend of userFriends" [value]="friend">{{friend.userName}}</mat-option>
                </mat-autocomplete>
                <input formControlName="idUser" type="text" [matAutocomplete]="autoFriends">
                <div>
                    <button (click)="addGroupMember()">Add member</button>
                </div>
            </form>
        </div>
    </div>

    <div class="conversationLists">

        <div *ngFor="let user of lastConversation" id="userList" (click)="openChatWithUser(user.id)">
            <img alt="Profile picture" [src]="user.profilePicture" width="80" height="80" />
            <span>{{user.userName}}</span>
        </div>
        <div *ngFor="let group of lastConversationG" id="groupList" (click)="openChatWithGroup(group.id)">
            <img alt="Profile picture" [src]="group.picture" width="80" height="80" />
            <span>{{group.name}}</span>
        </div>
    </div>

    <div class="showMess">
        <ul>
            <li *ngFor="let message of messages" class="message-container"
                [ngClass]="getMessageClass(message.idSender)" matTooltip="{{message.sendTime | date : 'short'}}">
                <img *ngIf="message.idSender!==userId" [src]="chatUser?.profilePicture" width="20" height="20">
                <div class="message" >
                    <span *ngIf="isGroup">{{message.nameSender}}</span>
                    <br *ngIf="isGroup">
                    <span >{{message.text}}</span>
                </div>
            </li>
        </ul>
    </div>

    <div *ngIf="!isGroup" class="createMess">
        <input #userMessageInput id="message" name="message"
            (keyup.enter)="sendMessageToUser(userMessageInput.value); userMessageInput.value=''">
        <button id="submit" type="submit"
            (click)="sendMessageToUser(userMessageInput.value); userMessageInput.value=''">Send</button>
    </div>

    <div *ngIf="isGroup" class="createMess">
        <input #userMessageInput id="message" name="message"
            (keyup.enter)="sendMessageToGroup(userMessageInput.value); userMessageInput.value=''">
        <button id="submit" type="submit"
            (click)="sendMessageToGroup(userMessageInput.value); userMessageInput.value=''">Send</button>
    </div>

</div>

<div id="search-user-bar">
    <form>
        <input #friendSearchInput id="search-text" type="text" />
        <input type="submit" (click)="findFriendsByUsername(friendSearchInput.value)" value="Submit">
    </form>

    <div>
        <div *ngFor="let foundUser of foundUsers">
            <span (click)="openChatWithUser(foundUser.id)">{{foundUser.userName}}</span>
        </div>
    </div>
</div>

<div id="search-group-bar">
    <form>
        <input #groupSearchInput id="search-text" type="text" />
        <input type="submit" (click)="findUserGroupsByName(groupSearchInput.value)" value="Submit">
    </form>

    <div>
        <div *ngFor="let foundGroup of foundGroups">
            <span (click)="openChatWithGroup(foundGroup.id)">{{foundGroup.name}}</span>
        </div>
    </div>
</div>

<div>
    <button (click)="startCreateGroup()">Create a new group</button>
    <br><button *ngIf="isCreatingGroup" id="close-create-group" (click)="closeCreateGroup()">Close</button>
    <form *ngIf="isCreatingGroup" [formGroup]="createGroupForm">
        <div>
            <span>Group name:</span>
            <input type="text" formControlName="name">
        </div>
        <div>
            <span>Group picture:</span>
            <input type="text" formControlName="picture">
        </div>
        <div>
            <span>Group description:</span>
            <input type="text" formControlName="description">
        </div>
        <div class="content">
            <button (click)="createGroup()"> Create group</button>
        </div>
    </form>
</div>
