<div class="search-container">
    <div>
        <mat-form-field>
            <mat-label>Search users and groups</mat-label>
            <input matInput #friendSearchInput type="text" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="findFriendsAndGroupsByName(friendSearchInput.value)">
            Search
        </button>
    </div>

    <div class="button-container">
        <button mat-raised-button color="primary" (click)="openCreateGroupDialog()">Create a new group</button>
    </div>
</div>

<div class="message-grid-container">
    <div class="conversation-name">
        <span class="name">
            <a [routerLink]="'/profile/'+chatUser?.id" *ngIf="!isGroup">{{chatUser?.userName ?? 'Messages'}} </a>
            <span *ngIf="isGroup">{{chatGroup?.name ?? 'Messages'}}</span>
        </span>
        <button *ngIf="isGroup" class="more-menu" mat-icon-button (click)="openGroupDetails()">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <div class="conversation-lists">
        <div class="list">
            <div *ngFor="let user of lastConversation" (click)="openChatWithUser(user.id)">
                <img alt="Profile picture"
                    [src]="isValidUrl(user.profilePicture) ? user.profilePicture : '/assets/img/default-user-image.png'" />
                <span>{{user.userName}}</span>
            </div>
        </div>
        <div class="list">
            <div *ngFor="let group of lastConversationG" (click)="openChatWithGroup(group.id)">
                <img alt="Profile picture"
                    [src]="isValidUrl(group.picture) ? group.picture : '/assets/img/default-user-image.png'" />
                <span>{{group.name}}</span>
            </div>
        </div>
    </div>

    <div #messagesContainer class="messages">
        <ul>
            <li *ngFor="let message of messages; let i = index" [ngClass]="getMessageClass(message.idSender)"
                class="message-container">
                <app-message [chatUser]="chatUser" [message]="message" [isGroup]="isGroup" [userId]="userId"
                    [isLast]="i===messages.length-1" (onIsLastItem)="scrollContainer(messagesContainer)">
                </app-message>
            </li>
        </ul>
    </div>

    <div class="create-messages">
        <textarea #userMessageInput class="message-input" matInput
            (keyup.enter)="isGroup? sendMessageToGroup(userMessageInput.value) : sendMessageToUser(userMessageInput.value); userMessageInput.value=''"></textarea>
        <button mat-raised-button color="primary"
            (click)="isGroup? sendMessageToGroup(userMessageInput.value) : sendMessageToUser(userMessageInput.value); userMessageInput.value=''">Send</button>
    </div>
</div>
