<h1>Chat</h1>

<div class="grid-container">
    <div class="nameConv">
        <span>{{chatUser?.userName ?? ''}}</span>
    </div>
    <div class="userList">

        <div *ngFor="let user of lastConversation" (click)="openChatWithUser(user.id)">
            <img alt="Profile picture" [src]="user.profilePicture" width="80" height="80" />
            <span>{{user.userName}}</span>
        </div>
    </div>
    <div class="showMess">
        <ul>
            <li *ngFor="let message of messages">
                {{message.text}}
            </li>
        </ul>
    </div>
    <div class="createMess">
        <input #userMessageInput id="message" name="message"
            (keyup.enter)="sendMessageToUser(userMessageInput.value); userMessageInput.value=''">
        <button id="submit" type="submit"
            (click)="sendMessageToUser(userMessageInput.value); userMessageInput.value=''">Send</button>
    </div>
</div>
<div id="search-bar">
    <form>
        <input #friendSearchInput id="search-text" type="text" />
        <input type="submit" (click)="findFriendsByUsername(friendSearchInput.value)" value="Submit">
    </form>
    <div>
        <div *ngFor="let foundUser of foundUsers">
            <span>{{foundUser.userName}}</span>
        </div>
    </div>
</div>
