.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    object-fit: cover;
}

.message-grid-container {
    display: grid;
    grid-template-areas:
        'LastConversations nameConversation nameConversation'
        'LastConversations Chat Chat'
        'LastConversations WriteMessage WriteMessage';
    gap: 5px;
    padding: 10px;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;

    .conversation-name {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-area: nameConversation;
        border: 1px solid black;
        height: 5vh;
    }

    .conversation-lists {
        background-color: beige;
        grid-area: LastConversations;
        border: 1px solid black;
        text-align: center;

        .list {
            overflow-y: auto;
            max-height: 35vh;

            div {
                display: flex;
                justify-content: flex-start;
                margin: 0.5em 1em;
                align-items: center;

                img {
                    margin-right: 1em;
                    width: 60px;
                    height: 60px;
                }
            }
        }
    }

    .messages {
        grid-area: Chat;
        border: 1px solid black;
        height: 60vh;
        overflow-y: auto;

        ul {
            padding: 10px;
        }

        .message-container {
            display: flex;
            align-items: center;
            list-style-type: none;
            border: 1px solid black;
            background-color: beige;

            &.sent {
                justify-content: flex-end;
            }

            &.received {
                justify-content: flex-start;
            }

            div {
                margin: 1em;
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    width: 30px;
                    height: 30px;
                    margin-right: 5px;
                }

                i {
                    font-size: smaller;
                }
            }
        }
    }

    .create-messages {
        grid-area: WriteMessage;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 1px solid black;

        .message-input {
            resize: none;
            height: 5vh;
            flex-grow: 100;
        }

        button {
            margin-left: 10px;
        }
    }
}
