<div class="grid-container">
    <div class="search-user">
        <mat-form-field>
            <mat-label>Search for users</mat-label>
            <input #userSearchInput matInput type="text" />
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="findUserByUsername(userSearchInput.value)">
            Search users
        </button>
    </div>

    <div class="requests-container">
        <h2>Friendship requests</h2>
        <span class="info" *ngIf="friendshipReq.length === 0">Nothing for now.</span>
        <div class="friendship-req" *ngFor="let friendship of friendshipReq">
            <div class="first-column">
                <img alt="Profile picture"
                    [src]="isValidUrl(friendship.pictureSender) ? friendship.pictureSender : '/assets/img/default-user-image.png'" />
            </div>
            <div class="second-column">
                <span>Username: <a [routerLink]="'/profile/' + friendship.idSender">{{friendship.nameSender}}</a></span>
            </div>
            <div class="third-column">
                <button mat-raised-button color="primary" (click)="acceptFriendship(friendship.id)">Accept
                    request</button>
            </div>
        </div>
    </div>

    <div class="friends">
        <h2>Your are friends with</h2>
        <span class="info" *ngIf="friends.length === 0">You have no friends yet.</span>
        <div class="friend-item" *ngFor="let friend of friends">
            <div class="first-column">
                <img alt="Profile picture" [src]="isValidUrl(friend.profilePicture) ? friend.profilePicture :
                    '/assets/img/default-user-image.png'" />
            </div>
            <div class="second-column">
                <span>Username: <a [routerLink]="'/profile/' + friend.id">{{friend.userName}}</a></span>
            </div>
        </div>
    </div>

    <div class="groups">
        <h2>You are a member of the following groups</h2>
        <span class="info" *ngIf="groups.length === 0">You are currently in no group.</span>
        <div class="group-item" *ngFor="let group of groups">
            <div class="first-column">
                <img alt="Profile picture" [src]="isValidUrl(group.picture) ? group.picture :
                    '/assets/img/default-user-image.png'" />
            </div>
            <div class="second-column">
                <span>{{group.name}}</span>
            </div>
        </div>
    </div>
</div>
