<div id="grid-container">

    <div id="friendship-req">
        <div *ngFor="let friendship of friendshipReq">
            <div id="request">
                <img alt="Profile picture" [src]="friendship.pictureSender" width="80" height="80" />
                <a [routerLink]="'/profile/'+friendship.idSender">{{friendship.nameSender}}</a> sent you a friendship
                request.
            </div>
            <button mat-raised-button color="primary" (click)="acceptFriendship(friendship.id)">Accept request</button>
        </div>
    </div>

    <div id="search-user">
        <form>
            <input #userSearchInput id="search-text" type="text" />
            <button mat-raised-button color="primary" (click)="findUserByUsername(userSearchInput.value)">Search
                users</button>
        </form>
        <div>
            <div *ngFor="let foundUser of users">
                <a [routerLink]="'/profile/'+foundUser.id">{{foundUser.userName}}</a>
            </div>
        </div>
    </div>

    <div id="friends">
        <div>Your actual friends are:
            <div *ngFor="let friend of friends">
                <img class="first-column" alt="Profile picture" [src]="friend.profilePicture" width="50" height="50" />
                <a class="second-column" [routerLink]="'/profile/'+friend.id">{{friend.userName}}</a>
            </div>
        </div>
    </div>


    <div id="groups">
        <div>You are member in following groups:
            <div *ngFor="let group of groups">
                <img class="firs-column" alt="Profile picture" [src]="group.picture" width="50" height="50" />
                <span class="second-column">{{group.name}}</span>
            </div>
        </div>
    </div>
</div>
