<div class="grid-container">
    <div id="picture">
        <img alt="Profile picture" [src]="user?.profilePicture" width="80" height="80" />
    </div>
    <div id="user-name">
        <span id="username"> {{user?.userName}} </span>
        <br><span>{{user?.firstName}} </span>
        <span>{{user?.lastName}} </span>
    </div>
    <div id="rank">
        <span>{{user?.firstName}} has finished {{user?.rank}} films, series and books.</span>
    </div>
    <div id="user-details">
        <div><b>Description:</b> "{{user?.description}}"</div>
        <div><b>Date of birth: </b>{{user?.dateOfBirth | date:'longDate'}}</div>
        <div><b>Sex: </b> {{user?.sex}}</div>
    </div>

    <div *ngIf="userId!==''" id="friendship">
        <button *ngIf="friendshipStatus==='not exist'" (click)="sendFriendshipRequest()">Send friendship
            request</button>
        <button *ngIf="friendshipStatus==='friends'" (click)="deleteFriendship()">Delete friendship</button>
        <button *ngIf="friendshipStatus==='received'" (click)="acceptFriendship()">Accept friend request</button>
        <div *ngIf="friendshipStatus==='sent'">
            <span>Wait for this user to accept your friendship request.</span>
            <button (click)="deleteFriendship()">Or delete friendship request.</button>
        </div>
    </div>


    <table id="books-read">
        <thead>
            <tr>
                <th>Books read by {{user?.userName}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reviewBook of reviewBooks">
                <td>{{reviewBook.title}}</td>
            </tr>
        </tbody>
    </table>

    <table id="films-viewed">
        <thead>
            <tr>
                <th>Films viewed by {{user?.userName}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reviewFilm of reviewFilms">
                <td>{{reviewFilm.title}}</td>
            </tr>
        </tbody>
    </table>

    <table id="series-viewed">
        <thead>
            <tr>
                <th>Series viewed by {{user?.userName}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reviewSerie of reviewSeries">
                <td>{{reviewSerie.title}}</td>
            </tr>
        </tbody>
    </table>
</div>
