.grid-container {
    display: grid;
    grid-template-areas:
        "Picture UserName Friendship"
        "Rank Rank Rank"
        "UserDetails UserDetails UserDetails";
    gap: 5px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;

    .picture {
        grid-area: Picture;
        text-align: center;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 210px;
            width: 210px;
            object-fit: cover;
        }
    }

    .user-name {
        grid-area: UserName;
        font-size: 130%;

        .details {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1em;
        }
    }

    .rank {
        margin: 1em;
        grid-area: Rank;
        text-align: center;
    }

    .user-details {
        grid-area: UserDetails;
        display: flex;
        align-items: center;
        margin-left: 5vw;
        gap: 2em;

        .container {
            mat-form-field {
                width: 15vw;
            }
        }

        .button-update-info {
            float: right;
            margin-left: 3em;
        }
    }

    .friendship {
        grid-area: Friendship;

        .sent {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 0.5em;
        }
    }
}

.reviews {
    padding: 2em;

    .select {
        display: flex;
        justify-content: center;
        align-items: center;

        mat-form-field {
            margin-left: 2em;
        }
    }

    .tables {
        display: flex;
        justify-content: space-evenly;

        table {
            width: 30vw;
        }
    }
}
