.grid-container {
    display: grid;
    grid-template-areas:
        "Delete Delete"
        "Picture TitleDesc"
        "Info Info"
        "UserReview UserReview"
        "Reviews Reviews";
    gap: 1em;
    padding: 1em 2em;
    font-family: Arial, Helvetica, sans-serif;

    .delete {
        grid-area: Delete;
        text-align: center;
    }

    .picture {
        grid-area: Picture;
        text-align: center;

        img {
            width: 170px;
            height: 250px;
            object-fit: cover;
        }
    }

    .title-description {
        grid-area: TitleDesc;
        margin-top: 2em;

        .title {
            font-size: x-large;
        }

        .description {
            font-size: large;
        }

        .admin-inputs {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            mat-form-field {
                width: 35vw;
            }
        }
    }

    .info {
        grid-area: Info;
        padding: 1em 2em;
        display: flex;
        gap: 2em;

        div div div {
            width: 15vw;
            margin-top: 2em;
        }

        .forth-column {
            display: flex;
            flex-direction: column;
        }
    }

    .user-review {
        grid-area: UserReview;
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 1em 2em;

        .first-column {
            display: flex;
            gap: 2vw;

            mat-form-field {
                width: 15vw;
            }
        }

        .review {
            width: 32vw;
        }
    }

    .reviews {
        background-color: transparent;
        grid-area: Reviews;
        padding: 1em 2em;
    }
}
