<div class="title">
    <h1>Here is our series collection!</h1>
    <h1>Check it and find something new for you ;)</h1>
</div>

<div class="search">
    <div>
        <mat-form-field>
            <mat-label>Search for a series</mat-label>
            <input matInput #seriesSearchByTitleInput type="text" />
        </mat-form-field>
        <button mat-raised-button color="primary"
            (click)="getSeriesByTitle(seriesSearchByTitleInput.value); selectGenre.value='Select'">
            Search
        </button>
    </div>

    <br>

    <mat-form-field>
        <mat-select #selectGenre (valueChange)="getSeriesByGenre($event); seriesSearchByTitleInput.value=''"
            value="Select">
            <mat-option value="Select">Select genre</mat-option>
            <mat-option value="Action">Action</mat-option>
            <mat-option value="Comedy">Comedy</mat-option>
            <mat-option value="Crime">Crime</mat-option>
            <mat-option value="Drama">Drama</mat-option>
            <mat-option value="Fantasy">Fantasy</mat-option>
            <mat-option value="Horror">Horror</mat-option>
            <mat-option value="Muzical">Musical</mat-option>
            <mat-option value="Romance">Romance</mat-option>
            <mat-option value="ScienceFiction">Science Fiction</mat-option>
            <mat-option value="Triller">Triller</mat-option>
            <mat-option value="Western">Western</mat-option>
        </mat-select>
    </mat-form-field>
</div>


<div *ngFor="let foundSeries of series" class="series-item">
    <div class="first-column">
        <img alt="Series cover"
            [src]="isValidUrl(foundSeries.picture) ? foundSeries.picture : '/assets/img/blank-series-cover.jpg'"
            width="80" height="80" />
    </div>
    <div class="second-column">
        <span>Title: <a [routerLink]="'/details/series/' + foundSeries.id">{{foundSeries.title}}</a></span>
        <span>Genre: {{foundSeries.genre}}</span>
        <span>Description: {{foundSeries.description}}</span>
    </div>
</div>
