.title {
    display: flex;
    justify-content: center;
}

.addFilmForm {
    margin: 4vh 15vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 1px 1px 2px black, 0 0 15px black, 0 0 10px gray;

    .columns {
        display: flex;
        flex-direction: row;
        justify-items: space-between;
        padding: 3em;
        gap: 5vw;

        .col-one,
        .col-two {
            width: 50%;

            .content {
                display: flex;
                justify-content: space-between;

                mat-form-field {
                    width: 20vw;
                }

                span {
                    display: inline-block;
                    text-align: left;
                    margin: 10px;
                }
            }
        }
    }

    .bottom-container {
        display: flex;
        justify-content: center;
        margin-bottom: 5vh;
    }
}
