<div class="title">
    <h1>Here is our film collection!</h1>
    <h1>Check it and find something new for you ;)</h1>
</div>

<div class="search">
    <div>
        <mat-form-field>
            <mat-label>Search for a film</mat-label>
            <input matInput #filmSearchByTitleInput type="text">
        </mat-form-field>
        <button mat-raised-button color="primary"
            (click)="getFilmByTitle(filmSearchByTitleInput.value); selectGenre.value=''">
            Search
        </button>
    </div>

    <br>

    <mat-form-field>
        <mat-select #selectGenre (valueChange)="getFilmByGenre($event); filmSearchByTitleInput.value=''">
            <mat-option selected="true" value="">Select genre</mat-option>
            <mat-option value="Action">Action</mat-option>
            <mat-option value="Comedy">Comedy</mat-option>
            <mat-option value="Crime">Crime</mat-option>
            <mat-option value="Drama">Drama</mat-option>
            <mat-option value="Fantasy">Fantasy</mat-option>
            <mat-option value="Horror">Horror</mat-option>
            <mat-option value="Muzical">Musical</mat-option>
            <mat-option value="Romance">Romance</mat-option>
            <mat-option value="ScienceFiction">Science Fiction</mat-option>
            <mat-option value="Triller">Triller</mat-option>
            <mat-option value="Western">Western</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div *ngFor="let foundFilm of films" class="film-item">
    <div class="first-column">
        <img alt="Film cover"
            [src]="isValidUrl(foundFilm.picture) ? foundFilm.picture : '/assets/img/blank-film-cover.jpg'" width="80"
            height="80" />
    </div>
    <div class="second-column">
        <span>Title: <a [routerLink]="'/details/film/' + foundFilm.id">{{foundFilm.title}}</a></span>
        <span>Genre: {{foundFilm.genre}}</span>
        <span>Description: {{foundFilm.description}}</span>
    </div>
</div>
