.tables table {
    margin-right: 20px;
    margin-left: 20px;
    display: inline;
}

#formAppointment {
    margin: 4vh 15vw;
    display: flex;
    justify-content: center;
    flex-direction: column;

    background-color: #7A7A7A;
    box-shadow: 1px 1px 2px black, 0 0 15px black, 0 0 10px gray;

    span {
        color: aliceblue;
    }
}

.content {
    display: flex;
    justify-content: center;

    span {
        display: inline-block;
        text-align: right;
        width: 140px;
        margin: 10px;
    }

    input {
        width: 190px;
    }

}

#add-apppointment {
    padding-bottom: 10vh;
}
