<div class="container">
    <a [routerLink]="'/home'" routerLinkActive="active">Licenta</a>

    <div class="buttons-container">
        <a *ngIf="!isLoggedIn" [routerLink]="'/register'" routerLinkActive="active">Register</a>
        <a *ngIf="!isLoggedIn" [routerLink]="'/login'" routerLinkActive="active">Login</a>
        <a *ngIf="isLoggedIn" href="#">Profile</a>
        <a *ngIf="isLoggedIn" href="#">Friends</a>
        <a *ngIf="isLoggedIn" href="#">Chat</a>
        <a *ngIf="isLoggedIn" href="#">Books</a>
        <a *ngIf="isLoggedIn" href="#">Films</a>
        <a *ngIf="isLoggedIn" href="#">Series</a>
        <a *ngIf="isLoggedIn" href="#">Settings</a>
        <a *ngIf="isLoggedIn" [routerLink]="'/logout'">Logout</a>
    </div>
</div>
