@page

@section Styles {
    <link rel="stylesheet" href="~/css/Chat.css" />
}

@model LicentaUI.Pages.ChatModel
@{
}

<h1>Chat</h1>

<div class="grid-container">
    <div class="item1">
        <span>Model.UserDetails.</span>
    </div>
    <div class="item2">

        @foreach (var item in Model.UserDetails)
        {
            <div>
                <img src="@item.ProfilePicture" alt="Profile picture" width="100" height="100" />
                <span>@item.UserName</span>
            </div>
        }
    </div>
    <div class="item3">
        Message
    </div>
    <div class="item4">
        <input id="message" name="message">
        <button id="submit" type="submit">Send</button>
    </div>
</div>
<div id="search-bar">
    <form method="post">
        <input id="search-text" type="text" asp-for="UserName" />
        <input type="submit" value="Submit">
    </form>
    <div>
        @foreach (var item in Model.UsersFind)
        {
            <div>
                <span>@item.UserName</span>
            </div>
        }
    </div>
</div>