@page

@section Styles {
    <link rel="stylesheet" href="~/css/Chat.css" />
}

@model LicentaUI.Pages.ChatModel
@{
}

<h1>Chat</h1>
<div class="grid-container">
    <div class="item1">Nume</div>
    <div class="item2">
        <table>
            Table
        </table>
    </div>
    <div class="item3">
        Message
    </div>
    <div class="item4">
        <input type="text" id="message" name="message">
    </div>
    <div class="item5">
        <button type="submit">Send</button>
    </div>
</div>