@page

@section Styles {
    <link rel="stylesheet" href="~/css/Login.css" />
}

@model LicentaUI.Pages.LoginModel
@{
}

<h1>Welcome to ...!</h1>

<div class="content">
    <span>UserName</span>
    <input>
</div>

<div class="content" id="pass">
    <span>Password</span>
    <input>
</div>

<div id="logincontent">
    <button id="login">Login</button>
</div>

<div class="content" id="register">
    <a> Don't have an account yet? Register</a>
</div>