@page

@section Styles {
    <link rel="stylesheet" href="~/css/Login.css" />
}

@section JavaScript {
    <script type="text/javascript" src="~/js/login.js"></script>
}

@model LicentaUI.Pages.LoginModel
@{
}

<h1>Welcome to ToREWatch!</h1>

<form method="post">
    <div class="content">
        <span>UserName</span>
        <input id="userName" type="text" asp-for="LoginUserModel.UserName">
        <br />
        <span class="text-danger" asp-validation-for="LoginUserModel.UserName"></span>
    </div>

    <div class="content" id="pass">
        <span>Password</span>
        <input id="password" type="password" asp-for="LoginUserModel.Password">
        <br />
        <span class="text-danger" asp-validation-for="LoginUserModel.Password"></span>
    </div>
    <div class="content">
        <span>Remember me</span>
        <input id="rememberMe" type="checkbox" asp-for="LoginUserModel.RememberMe" />
    </div>
    <div id="logincontent">
        <button onclick="tryLogin()" id="login">Login</button>
    </div>
    <span>@Model.ErrorMessage</span>
</form>

<div class="content" id="register">
    <a asp-page="/Register"> Don't have an account yet? Register</a>
</div>