div {
    background-color: beige;
    min-width: 5vw;
    padding: 0.5em 1em;
    margin: 2px 1em;
    display: flex;
    align-items: center;

    img {
        width: 30px;
        height: 30px;
        margin-right: 5px;
    }

    i {
        font-size: smaller;
    }
}
