.title {
    display: flex;
    justify-content: center;
}

.registerForm {
    margin: 10vh 30vw;
    padding: 5vh 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #7a7a7a;
    box-shadow: 1px 1px 2px black, 0 0 15px black, 0 0 10px gray;

    .content {
        display: flex;
        justify-content: space-around;
    }

    .buttons {
        margin-top: 2vh;
    }

    mat-form-field {
        width: 20vw;
    }
}

.spacing {
    height: 10vh;
}
