<h1 class="title">Register</h1>

<form [formGroup]="registerForm" class="registerForm">
    <div class="content">
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput type="text" formControlName="firstName">
        </mat-form-field>
    </div>

    <div class="content">
        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput type="text" formControlName="lastName">
        </mat-form-field>
    </div>

    <div class="content">
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>
    </div>

    <div class="content">
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput type="text" formControlName="userName">
        </mat-form-field>
    </div>

    <div class="content">
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
    </div>

    <div class="content">
        <mat-form-field>
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="content">
        <mat-form-field>
            <mat-label>Sex</mat-label>
            <mat-select formControlName="sex">
                <mat-option selected="true" value="Other">Other</mat-option>
                <mat-option value="Female">Female</mat-option>
                <mat-option value="Male">Male</mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div class="content buttons">
        <button mat-raised-button color="primary" class="register" (click)="clickRegister()">Register</button>
    </div>

    <div class="content" *ngIf="showErrorMessage">
        <span class="error">Could not register user.</span>
    </div>
</form>
<div class="spacing">

</div>
