// body {
//     margin: 0;
//     background-color: #f0e9ed;
// }

// h1 {
//     font-family: Arial, Helvetica, sans-serif;
//     color: #383838;
//     text-align: center;
//     margin-top: 25px;
//     margin-bottom: 25px;
// }

// span {
//     font-family: Arial, Helvetica, sans-serif;
//     color: #383838;
//     text-align: center;
// }

// .content {
//     margin: 20px;
//     text-align: center;
// }

// .register {
//     margin: 1cm;
//     text-align: center;
//     text-size-adjust: 20px;
// }

h1 {
    display: flex;
    justify-content: center;
}

#registerForm {
    margin-top: 10vh;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-bottom: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#registerForm span {
    color: aliceblue;
}

.content {
    display: flex;
    justify-content: space-around;
}

.content span {
    display: inline-block;
    text-align: right;
    width: 140px;
    margin: 10px;
}

form {
    background-color: #7A7A7A;
    box-shadow: 1px 1px 2px black, 0 0 15px black, 0 0 10px gray;

    mat-form-field{
        display: flex;
        justify-content: space-around;
    }
}
