<h1>Welcome to ToREWatch!</h1>

<form [formGroup]="loginForm">
    <div class="content">
        <span>UserName</span>
        <mat-form-field appearance="fill">
            <mat-label>Add your user name</mat-label>
            <input matInput type="text" formControlName="userName">
        </mat-form-field>
    </div>

    <div class="content">
        <span>Password</span>
        <mat-form-field appearance="fill">
            <mat-label>Add your password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
    </div>

    <div class="content">
        <section class="example-section">
            <mat-checkbox formControlName="rememberMe" class="example-margin">Remember me!</mat-checkbox>
        </section>
    </div>

    <div class="login-button-container">
        <button (click)="clickLogin()" id="loginButton">Login</button>
    </div>

    <div class="content" *ngIf="showErrorMessage">
        <span class="error">Could not login user.</span>
    </div>
</form>

<div class="content" id="register">
    <a [routerLink]="'/register'">Don't have an account yet? Register</a>
</div>
